body {
	background-color: #87CEFA;
}

h1 {
	text-align: center;
	font-family: Arial;
	background-color: #00FFFF;
}

.btn-default, .btn-info {
	font-size: 40px;
	font-weight: bold;
	margin-left: 20px;
	min-width: 60px;
	/*padding: 20px 30px 20px 30px;  */
}